
.board {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.board h1 {
  text-align: center;
  margin-bottom: 5%;
}

fieldset {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

label {
  width: 100%;
  display: inline-block;
  font-weight: bold;
}

/* 입력 필드 스타일 (검색창과 동일하게 적용) */
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 버튼 스타일 (survey_result.html과 동일) */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #1fbb46af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #178c36;
}


h3 {
  margin-bottom: 10px;
}

/* 로딩 애니메이션 스타일 */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
  margin-top: 20px;
}

.loader:before {
  content: "Loading...";
}

@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}

.content {
  display: none;
  /* 콘텐츠 숨기기 */
  margin-top: 20px;
}