
.board {
  position: relative;
  background-color: #ffffff9f;
  width: 55vw;
  height: 70vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 5%;
}

.post-list {
  width: 80%;
  border-spacing: 0 10px;
  margin: 5% auto;
}

.post-list th {
  background-color: #1fbb46af;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.post-list td {
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.post-list tr:hover td {
  background-color: #f1f1f1;
}

fieldset {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

label {
  width: 120px;
  display: inline-block;
  font-weight: bold;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}





.form-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-group label {
  width: 80px;
  text-align: right;
  margin-right: 10px;
}

.form-group input {
  position: relative;
  flex: 1;
  /* 입력 칸이 남은 공간을 채우도록 */
  padding: 5px;
}


.register-btn {
  position: absolute; 
  top: 12%;   
  right: 11.6%;     
  padding: 10px 15px;
  font-size: 16px;
  background-color: #1fbb46af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: auto;
}

.register-btn:hover {
  background-color: #178c36;
}