

.board {
  width: 50%;
  height: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
}

.board h1 {
  text-align: center;
  margin-bottom: 5%;
}

.result-container {
  margin: 5%;
  margin-top: 10%;
  text-align: center;
  line-height: 2;
  font-size: 2rem;
}

.result-container button {
  margin-top: 10%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1fbb46af;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}