{% extends 'base.html' %}
{% load static %}

{% block title %}홈 - 아학방페{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <!-- <div class="box-container">
    <a href="{% url 'manage' %}" class="box" id="box1">아이 관리</a>
    <a href="{% url 'check' %}" class="box" id="box2">일일 보고</a>
    <a href="{% url 'danger' %}" class="box" id="box3">위험도</a>
    <a href="{% url 'report' %}" class="box" id="box4">신고 및 연락망</a>
  </div> -->
</div>

{% endblock %}