{% extends 'login_base.html' %}

{% load static %}


{% block title %}Log In{% endblock %}

{% block head %}
  <link rel='stylesheet' href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
<div class="main-div">
    <form class="auth-form" method="POST" action="{% url 'accounts_register' %}">
        {% csrf_token %}
        <h1>Sign up</h1>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
            <script>
                alert("{{ error }}");
            </script>
        {% endif %}
        <input type="text" name="userid" placeholder="ID" required>
        <input type="password" name="pw" placeholder="password" required>
        <input type="password" name="pw_confirm" placeholder="비밀번호 확인" required>
        <button class="btn" type="submit">가입 및 제출</button>
        <div class="auth-link">
            <span>이미 계정이 있나요?</span>
            <a href="{% url 'go_login_html' %}"><button class="sgu-btn" type="button">로그인</button></a>
        </div>
    </form>
</div>
{% endblock %}